header{
  background-color: #222;
  color: white;
  padding: 1em;
}
nav{
  background-color: #222;
  font-size: 24px;
}
.home{
  text-align: center;
}
@viewport{
  zoom: 1.0;
  width: device-width;
}
.user{
  padding: 1rem;
}
h2{
  text-align-last: center;
}
.header{
  display: inline-flex;
}
.header-text{
  display:flex;
  align-self: flex-end;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.home{
  padding-top: 5em;
}
footer{
	background-color: #222;
  /*background-color: #40661e;*/
  color: white;
	text-align: center;
  padding: 1em;
  font-family: 'Lemonada', cursive;
  font-size: 16px;
  /*This makes footer to always stay at the end*/
  /*position: absolute;*/
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
