<div class="home">
  <h2 id="bungee">Add Item</h2>
  <form ng-submit="main.addItem(newItem)" method="post">
    <input ng-model="newItem.name" type="text" name="name" value="item" placeholder="item"><br><br>
    <input ng-model="newItem.description" type="text" name="description" value="description" placeholder="description"><br><br>
    <label for="favorite"><input ng-model="newItem.favorite" type="checkbox" value="true" name="favorite"> Favorite?</label>

    <br><br>
    <input class="submit-button" type="submit" name="name" value="Add New">
  </form>
</div>
