<div class="home">
  <h2 id="font1">Add Item</h2>
  <form ng-submit="main.addItem(newItem)" method="post">
    <input ng-model="newItem.name" type="text" name="name" value="item" placeholder="item"><br><br>
    <input ng-model="newItem.description" type="text" name="description" value="description" placeholder="description"><br><br>
    <br><br>
    <input class="submit-button" type="submit" name="name" value="Add New">
  </form>
</div>
<div class="home">
  <img src="https://cdncloudcart.com/gate/files/sell-on-facebook-groceries.png" style="height:200px;" />
</div>
