<div class="edit-page">
  <h1>Edit: {{main.currentItem.name}}</h1>

  <form ng-submit="main.editItem(itemToEdit)">
    <input type="text" ng-model="itemToEdit.name" placeholder="Item" ng-value="main.currentItem.name">
    <input type="text" ng-model="itemToEdit.description" placeholder="Description" ng-value="main.currentItem.description">
    <label><input type="checkbox" ng-model="itemToEdit.favorite" ng-checked="main.currentItem.favorite">Favorite</label>
    <label><input type="checkbox" ng-model="itemToEdit.completed" value="true">Purchased</label>
    <button type="submit">Edit</button>
  </form>
</div>
