<div class="home">
  <h2 id="font1">{{main.currentItem.name}}</h2>
  <div>
    <label ng-show="main.currentItem.description">Description: {{main.currentItem.description}}</label><br>
  </div>
  <div class="show-img">
    <img id="item-pic" src="" />
  </div>
  <button ui-sref="edit({item: main.currentItem})" ng-click="main.setItemToEdit(main.currentItem)" name="Edit">EDIT</button>
  <button ng-click="main.deleteItem()" name="Delete">DELETE</button>
  <button ng-click="main.addFavorite(main.currentItem)" name="Favorite">FAVORITE</button>
  <button ng-click="main.unFavorite()" name="Favorite">UNFAVORITE</button>
</div>
<div class="home">
  <img src="https://cdncloudcart.com/gate/files/sell-on-facebook-groceries.png" style="height:200px;"/>
</div>
