<div class="home">
  <h2 id="font1">{{main.currentItem.name}}</h2>
  <div>
    <label>Description: {{main.currentItem.description}}</label><br>
    <label>Favorite: {{main.currentItem.favorite}}</label><br>
  </div>
  <button ui-sref="edit({item: main.currentItem})" ng-click="main.setItemToEdit(main.currentItem)" name="Edit">EDIT</button>
  <button ng-click="main.deleteItem()" name="Delete">DELETE</button>
  <button ng-click="main.addFavorite(main.currentItem)" name="Favorite">FAVORITE</button>
  <button ng-click="main.unFavorite()" name="Favorite">UNFAVORITE</button>
</div>
<div class="home">
  <img src="http://i.imgur.com/wyTetNS.png" style="height:300px;" />
</div>
