<h2>Hello {{main.user.username}}</h2>
<div class="user">
  <div class="user-list">
    <h3>My list</h3>
    <div class="items-board" ng-repeat="item in main.user.groceryList">
      <a ui-sref="show({item: item})">
        <li>{{item.name}}</li>
      </a>
    </div>
  </div>

  <div class="add-item">
    <form ng-submit="main.addItem(newItem)" method="post">
      <label>Item: </label><br>
      <input ng-model="newItem.name" type="text" name="name" value="item"><br><br>
      <label>Description: </label><br>
      <input ng-model="newItem.description" type="text" name="description" value="description"><br><br>
      <label for="favorite"><input ng-model="newItem.favorite" type="checkbox" value="true" name="favorite"> Favorite?</label>
      <br><br>
      <input class="submit-button" type="submit" name="name" value="Add New">
    </form>
  </div>
</div>
